/*#calculadora {
    background: gray;
    border: 0;
}

#calculadora td {
    padding: 4px;
}

.cajita_valor {
    background-color: #acff38;
    color: #467702;
    border: 1px solid #454545;
    width: 130px; height: 26px;
    font-family: Arial, Helvetica;
    font-size: 20px;
    line-height: 26px;
    text-align: right;
}
*/
.boton {
    width: 24px;
    border: 1px solid #000;
    font-family: Arial;
    font-size: 12px;
    cursor: hand;
    background-color: #fff;
}
/*
.boton_largo {
    width: 62px; 
    border: 1px solid #000;
    font-family: Arial;
    font-size: 12px;
    cursor: pointer;
    background-color: #fff;
}

.funcion {
    font-weight: bold;
    color: #b00;
}
*/